// --- Variabili colori e font ---
$bgcolor: #fef6f0;
$accentcolor: #B34245;
$textcolor: #281515;
$yellowcolor: #E3A54F;
$greencolor: #89A253;
$bluecolor: #57899E;
$fonttitle: "DM Serif Text", serif;
$fonttext: "Inter", sans-serif;

// --- Regole ---
@mixin font-text {
  font-family: $fonttext;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.6;
}


// --- Accento ---
strong {
  font-weight: 600;
}

// --- Body ---
body {
  background-color: $bgcolor;
}

html {
  scroll-behavior: smooth;
}


// --- Navigazione ---
.menu {
  display: flex;
  font-size: 18px;
  width: 100vw;
  justify-content: center;
  gap: 72px;
  text-decoration: none;
  padding: 42px 0px;
  list-style: none;
  padding-left: 0%;
  z-index: 100;
  position: fixed;
  top: -20px;
  left: 0;
  background: $bgcolor;
  border-bottom: 3px solid #B34246;
  /* box-shadow: 2px 2px 10px rgb(179, 66, 70); */
}

.menu-link {
  font-family: $fonttext;
  font-weight: 500;
  color: $accentcolor;
  text-decoration: none;
  transition: color 0.5s ease-in-out, text-decoration-color 0.5s ease-in-out;
  &:hover {
    text-decoration: underline 2px;
    margin: none;
  }
}

#chi-sono {
  scroll-margin-top: 240px;
}

// --- Titoli ---
h1 {
  color: $accentcolor;
  font-family: $fonttitle;
  font-weight: 900;
  font-size: 94px;
  margin-bottom: 0px;
  z-index: 1;
  position: relative;
  /*text-shadow:
    -1px -1px 0 #421010,
     1px -1px 0 #421010,
    -1px  1px 0 #421010,
     1px  1px 0 #421010; */
}
h2 {
  font-family: $fonttitle;
  color: $accentcolor;
  text-align: center;
  font-size: 54px;
}


// --- Chi sono ---
.chi-sono { /* contenitore chi sono */
  position: relative;
  margin: 120px 164px;
  margin-top: 240px;
}

.chi-sono-text {
  @include font-text;
  font-family: $fonttext;
  font-size: 20px;
  color: $textcolor;
  text-align: left;
  max-width: 600px;
  line-height: 1.6;
  letter-spacing: 1px;
  z-index: 1;
  position: relative;
  margin: 2em 0;
}



// --- Immagine profilo ---
.foto-profilo {
  z-index: 0;
  border-radius: 24px;
  margin-top: -200px;
  position: absolute;
  max-height: 600px;
  max-width: 40vw;    // larghezza massima 40% viewport
  height: auto;       // mantiene le proporzioni
  right: 0px;
}

// Responsive per schermi piccoli /* fare media query per tutto il sito*/
@media (max-width: 900px) {
  .foto-profilo {
    position: static;    // non più assoluta
    margin: 40px auto 0 auto;
    display: block;
    max-width: 80vw;     // più grande su mobile
    width: 100%;         // si adatta al contenitore
    height: auto;
    right: auto;
  }
}

// --- Bottone chi sono ---
.button-contatti {
  font-family: $fonttext;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 900;
  color: $accentcolor;
  background-color: transparent;
  border: 3px solid $accentcolor;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: $accentcolor;
    color: $bgcolor;
    cursor: pointer;
  }
}

// --- Valori ---
.valori {
  background-color: $accentcolor;
  padding: 80px 220px;
  margin-top: 240px; // spazio tra chi sono e valori
  position: relative;
  z-index: 1;
}
.valori-title {
  font-family: $fonttitle;
  color: $bgcolor;
  text-align: center;
  margin-top: 0px;
}
.valori-text {
  @include font-text;
  display: block;
  text-align: center;
  color: $bgcolor;
  max-width: 1200px;
  margin: 1em 0;
}
.link-yt {
  @include font-text;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: $bgcolor;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.piuma-bg {
  z-index: 0;
  position: absolute;
  width: 120px;
  margin-top: -180px;
  left: 50px;
  rotate: -10deg;
  opacity: 0.6;
}
.yt {
  width: 300px;
  border-radius: 16px;
  border: 8px solid $bgcolor;
  margin: 0 20px; // spazio orizzontale tra tutte le immagini
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
.yt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}


// --- Portfolio ---
.portfolio {
  margin: 120px 220px;
  text-align: center;
}

.paperplane-bg {
  z-index: 0;
  position: absolute;
  width: 260px;
  margin-top: 80px;
  right: 10px;
  rotate: 8deg;
  opacity: 0.6;
}

.portfolio-text {
  @include font-text;
  margin-bottom: 40px;
}

.portfolio-gallery { /* contenitore generale del portfolio */
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
}

.cornice-rom { /* contentitore Romimmobiliare */ 
  width: 1112px;
  height: 427px;
  max-width: 100%;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-bottom: 6px;
}
.cornice-rom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
   &:hover {
   transform: scale(1.10);
   cursor: pointer;
   }
  }
.cornice-rom-txt {
  position: absolute;
  font-family: $fonttext;
  color: $bgcolor;
  font-size: 28px;
  text-align: left;
  left: 40px;
  bottom: 40px;
  line-height: 0.5;
  text-shadow: #281515cf 2px 2px 4px;
}

.gallery { /* contenitore galleria portfolio per S2I e VC */
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: flex-start;
}

.cornice-s2i { /* contentitore Start2Impact */
  width: 638px;
  height: 427px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.cornice-s2i img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
   &:hover {
   transform: scale(1.10);
   cursor: pointer;
   }
  }
.cornice-s2i-txt {
  position: absolute;
  font-family: $fonttext;
  color: $bgcolor;
  font-size: 28px;
  text-align: left;
  left: 40px;
  bottom: 40px;
  line-height: 0.5;
  text-shadow: #281515cf 2px 2px 4px;
}


.cornice-vc { /* contentitore Veracura */
  width: 448px;
  height: 427px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-left: 0px;
  flex-direction: row;
  justify-content: flex-end;
}
.cornice-vc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
   &:hover {
   transform: scale(1.10);
   cursor: pointer;
   }
  }
.cornice-vc-txt {
  position: absolute;
  font-family: $fonttext;
  color: $bgcolor;
  font-size: 28px;
  text-align: left;
  left: 40px;
  bottom: 40px;
  line-height: 0.5;
  text-shadow: #281515cf 2px 2px 4px;
}

.cornice-mb { /* contentitore Merceria Butterfly */
  width: 1112px;
  height: 250px;
  max-width: 100%;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.cornice-mb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
   &:hover {
   transform: scale(1.10);
   cursor: pointer;
   }
  }
.cornice-mb-txt {
  position: absolute;
  font-family: $fonttext;
  color: $bgcolor;
  font-size: 28px;
  text-align: left;
  left: 40px;
  bottom: 40px;
  line-height: 0.5;
  text-shadow: #281515cf 2px 2px 4px;
}

// --- Software ---
.software {
  margin: 120px 220px;
  text-align: center;
}

.software-text {
  @include font-text;
  margin-bottom: 40px;
}

// --- Filtri Software ---
.software-filter {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.software button {
  font-family: $fonttext;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 15px;
  color: #fef6f0;
  font-weight: 500;
}
.ads {
  background-color: $greencolor;
  border: solid 1px $greencolor;
  &:hover {
    outline: solid 3px darken($greencolor, 8%);
    cursor: pointer;
  }
}
.ads:active {
    background-color: darken($greencolor, 8%);
    border: solid 1px darken($greencolor, 8%);
    outline: solid 3px darken($greencolor, 8%);
    cursor: pointer;
  }

.design {
  background-color: $accentcolor;
  border: solid 1px $accentcolor;
  &:hover {
    outline: solid 3px darken($accentcolor, 8%);
    cursor: pointer;
  }
}
.design:active {
    background-color: darken($accentcolor, 8%);
    border: solid 1px darken($accentcolor, 8%);
    outline: solid 3px darken($accentcolor, 8%);
    cursor: pointer;
  }


.content {
  background-color: $yellowcolor;
  border: solid 1px $yellowcolor;
  &:hover {
  outline: solid 3px darken($yellowcolor, 8%);
  cursor: pointer;
  }
}
.content:active {
    background-color: darken($yellowcolor, 8%);
    border: solid 1px darken($yellowcolor, 8%);
    outline: solid 3px darken($yellowcolor, 8%);
    cursor: pointer;
  }

.coding {
  background-color: $bluecolor;
  border: solid 1px $bluecolor;
  &:hover {
    outline: solid 3px darken($bluecolor, 8%);
    cursor: pointer;
  }
}
 .coding:active {
    background-color: darken($bluecolor, 8%);
    border: solid 1px darken($bluecolor, 8%);
    outline: solid 3px darken($bluecolor, 8%);
    cursor: pointer;
  }

// --- Loghi ---

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

  .logo {
    img {
      max-height: 100px;
    }
  }