// --- Variabili colori e font ---
$bgcolor: #fef6f0;
$bgcolor2: #F4DBB9;
$accentcolor: #B34246;
$textcolor: #281515;
$yellowcolor: #E9B772;
$greencolor: #93AC5D;
$bluecolor: #6E9BAF;
$fonttitle: "DM Serif Text", serif;
$fonttext: "Inter", sans-serif;

// --- Body ---
body {
  background-color: $bgcolor;
  position: relative;
}

// --- Navigazione ---
.menu {
  display: flex;
  font-size: 18px;
  justify-content: center;
  gap: 50px;
  text-decoration: none;
  margin-top: 50px;
  list-style: none;
  padding-left: 0%;
}
// --- Link ---
.menu-link {
  text-decoration: none;
  font-family: $fonttext;
  letter-spacing: 1px;
  color: $textcolor;
  transition: color 0.5s ease-in-out, text-decoration-color 0.5s ease-in-out;
  &:hover {
    text-decoration: underline 2px;
    margin: none;
  }
}

// --- Titolo ---
h1 {
  color: $accentcolor;
  font-family: $fonttitle;
  font-weight: 900;
  text-align: left;
  margin-top: 50px;
  margin-left: 120px;
  margin-bottom: 0px;
  font-size: 80px;
  z-index: 1;
  position: relative;
  /*text-shadow:
    -1px -1px 0 #421010,
     1px -1px 0 #421010,
    -1px  1px 0 #421010,
     1px  1px 0 #421010; */
}

// --- Paragrafo chi sono ---
.chi-sono {
  font-family: $fonttext;
  font-size: 18px;
  color: $textcolor;
  text-align: left;
  margin-left: 120px;
  margin-right: 620px;
  max-width: 600px;
  line-height: 1.6;
  letter-spacing: 1px;
  z-index: 1;
  position: relative;
}

// --- Strong ---
strong {
  font-weight: 600;
}

// --- Immagine profilo ---
.foto-profilo {
  position: absolute;
  width: 500px;
  left: 600px;
  top: 70px;
  z-index: 0;
  border-radius: 16px;
}

// --- Bottone chi sono ---
.chi-sono-contatti {
  font-family: $fonttext;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: $accentcolor;
  background-color: transparent;
  border: 4px solid $accentcolor;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 20px;
  &:hover {
    background-color: $accentcolor;
    color: $bgcolor;
    cursor: pointer;
  }
}