$bgcolor: #fef6f0;
$bgcolor2: #F4DBB9;
$accentcolor: #B34246;
$textcolor: #281515;
$yellowcolor: #E9B772;
$greencolor: #93AC5D;
$bluecolor: #6E9BAF;
$fonttitle: "Frank Ruhl Libre", serif;
$fonttext: "Inter", sans-serif;

body {
    background-color: $bgcolor;
    h1 {
        color: $accentcolor;
        font-family: $fonttitle;
        font-weight: 900;
        text-align: center;
        margin-top: 50px;
        font-size: 80px;
        /*text-shadow:
        -1px -1px 0 #421010,
         1px -1px 0 #421010,
        -1px  1px 0 #421010,
         1px  1px 0 #421010; */
    }
    .menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-decoration: none;
    margin-top: 50px;
    list-style: none;
    padding-left: 0%;
}
a {
    text-decoration: none;
    font-family: $fonttext;
    letter-spacing: 5px;
    color: $textcolor;
    transition: color 0.5s ease-in-out, text-decoration-color 0.5s ease-in-out;
    &:hover {
        text-decoration: underline 2px;
        margin: none;
    }
}
}